---
layout: page
title:  "Writing"
date:   2016-05-30 22:08:09 -0600
categories: nav
---
<p>
I occasionaly blog, and in college I wrote about technology issues for our IT Student Organiztion (ITSO) newsletter. Additionally, I served as a student newspaper editor for two years.
</p>

<p>
You'll find a selection of my literary work below..
</p>

<ul>
{% for post in site.pages %}


  {% if post.categories contains 'writing' %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>