
body {
	background: $brand-lighter;
	height: 100%;
	font-size: 18px;

}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

h1, h2 {
	text-transform: uppercase;
}

h2 {
	color: black;
}


 
.jg-page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.jg-main-content {
	flex-grow: 1;
}

.jg-page-wrapper > header {
	
	background:  $brand;
	padding: 30px 0;

}

.brand {

	font-family: $heading-font;
	color: white;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	line-height:1;

	&:hover {
		color: $almost-white;
	}

	small {
		color: $almost-white;
		display: block;
		font-size: 25px;
		font-weight: 300;
		margin-top:10px;
	}

}

.brand, .brand small {

	&:hover {
		text-decoration: none;
	}

}

.jg-contact-icons {
	a {
		font-size: 20px;
		color: $almost-white;

		&:hover {
			color: white;
		}

		margin-right:5px;
	}
	
}

.jg-page-wrapper > nav {
	background: $brand-light;
	font-family: $heading-font;
	font-size: 25px;
	text-transform: uppercase;
	padding: 15px 0;

	li {
		margin-right: 15px;
	}

	.nav-pills a {
		color: $almost-white;
		padding: 0;

		&:hover {
			background: transparent;
			color: white;
		}
	}
}

.page-content {
	background: white;
	padding: 30px 40px;
	margin: 15px 0;
}

header h1 {
	color: $brand-lighter;
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 5px $brand-lighter solid;
}


footer {
	text-align: center;
	color: $almost-white;
	background: $brand;
	padding: 20px 0;
}

.jg-site-intro {
	padding: 30px 0;
	height: 150px;

	h1 {
		font-size: 40px;
		font-weight: 700;
		color: $brand;
	}

	img {
		height: 150px;
		margin-right:20px;
	}

	p {
		font-size: 20px;
	}
}

