<!DOCTYPE html>
<html ng-app="jongunter">

  {% include head.html %}

  <body>

    <div class="jg-page-wrapper" data-asm-wrapper>
    
{% include header.html %}

  <div class="container jg-main-content">
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    

    </div>
    <!-- /.container-fluid -->

{% include footer.html %}

</div>
<!-- /.jg-page-wrapper -->

<nav data-asm-push-left class="jg-slide-menu">
    <ul class="nav nav-pills nav-stacked">
        {% assign url = page.url|remove:'index.html' %}
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for my_page in sorted_pages %}
        
          {% if my_page.categories contains 'nav'  %}
          <li {% if url == my_page.url %}class="active"{% endif %} >
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}

        
        {% endfor %}

    </ul>
  </nav>

  </body>

</html>
